In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 37 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 60.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=49336e2b0b4d3d4031df9a732e55569cfa88bcf2d0ac6491dee2c9843199be15
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
from pyspark import SparkConf, SparkContext

In [ ]:
if __name__ == "__main__":
  conf = SparkConf().setAppName("WaterQuality").setMaster("local[2]")
  sc = SparkContext(conf = conf)

In [ ]:
raw_data = sc.textFile("waterquality.csv")
raw_data.take(5)

['STATION CODE,LOCATIONS,STATE,TEMP,DO,pH,CONDUCTIVITY,BOD,NITRATE_N_NITRITE_N,FECAL_COLIFORM,TOTAL_COLIFORM',
 '1312,GODAVARI AT JAYAKWADI DAM  AURNAGABAD MAHARASHTRA,MAHARASHTRA,29.2,6.4,8.1,735,3.4,2,3,73',
 '2177,GODAVARI RIVER NEAR SOMESHWAR TEMPLE.,MAHARASHTRA,24.5,6,8,270,3.1,2,72,182',
 '2182,GODAVARI RIVER AT SAIKHEDA.,MAHARASHTRA,25.8,5.5,7.8,355,4.2,9,59,133',
 '2179,GODAVARI RIVER AT HANUMAN GHAT  NASHIK CITY.,MAHARASHTRA,24.8,5.5,7.8,371,5.6,3.55,90,283']

In [ ]:
header = raw_data.first()
header

'STATION CODE,LOCATIONS,STATE,TEMP,DO,pH,CONDUCTIVITY,BOD,NITRATE_N_NITRITE_N,FECAL_COLIFORM,TOTAL_COLIFORM'

In [ ]:
data = raw_data.filter(lambda x: x!= header)
data.top(5)

['41,KABBANI AT CAUSE WAY��SATTUR  KARNATAKA,KARNATAKA,25.8,7.2,7.9,299,1.4,0.3,310,1357',
 '39,KRISHNA AT GADWAL BRIDGE  A.P.,ANDHRA PRADESH,17.2,5.6,8.1,870,9.5,0,NA,NA',
 '38,TUNGHABHADRA AT HONNALI BRIDGE  KARNATAKA,KARNATAKA,25.8,7.2,7.9,286,2.4,0.1,71,157',
 '37,KRISHNA AT SANGLI  MAHARASHTRA,MAHARASHTRA,23.7,7,7.5,711,3,1.4,NA,90',
 '36,KRISHNA AT KRISHNA BRIDGE  KARAD  MAHARASHTRA,MAHARASHTRA,23.8,6,8.2,262,5.1,1.8,149,1357']

In [ ]:
data.count()

534

In [ ]:
def get_river_names(x):
  name = x.split(',')[1]
  name = name.split(' ')[0]
  return name

In [ ]:
rivers = data.map(get_river_names)
rivers.take(10)

['GODAVARI',
 'GODAVARI',
 'GODAVARI',
 'GODAVARI',
 'GODAVARI',
 'GODAVARI',
 'GODAVARI',
 'GODAVARI',
 'GODAVARI',
 'GODAVARI']

In [ ]:
rivers.distinct().collect()

['GODAVARI',
 'GODAVARI��AT',
 'SHUKRA',
 'TRIBENI',
 'BRAHMPUTRA',
 'BRAHMAPUTRA',
 'KRISHNA',
 'VEDADRI',
 'AMARAVATI',
 'HAMSALA',
 'SHIMSHA',
 'KABINI',
 'D/S',
 'ASHWANI',
 'BATTA',
 'HINDON',
 'BETWA',
 'PARVATI',
 'KSHIPRA',
 'KALI',
 'SINDH',
 'SANKH',
 'JAMUNI',
 'SONE',
 'BANAS',
 'DIKHOW',
 'RANGA',
 'KAPILI',
 'SANKOSH',
 'KALJANI',
 'PANCHNAI',
 'SUSWA',
 'BHALLA',
 'SAI',
 'GOMTI',
 'RAPTI',
 'GHAGHARA',
 'GHAGHRA',
 'RIHAND',
 'GANDAK',
 'BURHI',
 'HARBORA',
 'KAMALA',
 'RAM',
 'PUNPUN',
 'SIRSIA',
 'RIVER',
 'MARKANDA',
 'BHATSA',
 'KAN',
 'KUNDALIKA',
 'MITHI',
 'MUCHKUNDI',
 'PATALGANGA',
 'ULHAS',
 'VAITARNA',
 'VASHISTI',
 'VASHISHTI',
 'PANCHAGANGA',
 'MANDOVI',
 'WARDHA',
 'KOLAR',
 'KANHAN',
 'PURNA',
 'NIRA',
 'KINNERASANI',
 'BINDUSARA',
 'WENA',
 'GHATPRABHA',
 'MALPRABHA',
 'TUNGABHADRA',
 'TUNGHA',
 'BHADRA',
 'MUSI',
 'PALLERU',
 'KAGINA',
 'ASANGI',
 'SALAULIM',
 'ANJUNEM',
 'CARAMBOLIM',
 'SAIPEM',
 'CURTORIM',
 'CITY',
 'AHMEDABAD',
 'AJWAH',
 'SURSAGAR',
 'NALSAROVAR',
 'SAHASTRALING',
 'LAKHOTA',
 'NARSINHMEHTA',
 'MALAV',
 'MOTICHER',
 'KUWADAVA',
 'OLPAD',
 'THOL',
 'GOVINDGARH',
 'SHAHPURA',
 'RANITAL',
 'PICHOLA',
 'PUSHKAR',
 'KAYALANA',
 'LAKE',
 'LODHA',
 'ALKANANDA',
 'MANDAKINI',
 'BHAGIRATHI',
 'GANGA',
 'UPPER',
 'GANGA��AT',
 'NABADIP',
 'BRAHAMPUTRA',
 'THANGADI',
 'YAMUNA',
 'YAGACHI',
 'HEMAVATI',
 'ARKAVATHI',
 'LAKSHMANTIRTHA��AT',
 'KABBANI',
 'BHAVANI',
 'U/S',
 'TONS',
 'GIRI',
 'PABBAR',
 'CHAMBAL',
 'GOHAD',
 'KHAN',
 'BICHIA',
 'CHHAPI',
 'UJAD',
 'TEESTA',
 'KUNDLI',
 'KOHORA',
 'BOGINADI',
 'BEKI',
 'BARAK',
 'SONAI',
 'KUSHIARA',
 'KAROLA',
 'GOLA',
 'DHELA',
 'KOSI',
 'RAMGANGA',
 'KALINADI',
 'VARUNA',
 'SARYU',
 'SIKRAHNA',
 'SIKRANA',
 'MANUSMAR',
 'KOSHI',
 'DAHA',
 'DHOUS',
 'FARMAR',
 'SIRSA',
 'BAGMATI',
 'GHAGGAR',
 'GHAGGER',
 'GAGGAR',
 'KODRA',
 'AMBA',
 'KALU',
 'PEHLAR',
 'SAVITRI',
 'SURYA',
 'TANSA',
 'BHIMA',
 'ZUARI',
 'INDRAVATI',
 'SHANKNI',
 'MANJRA',
 'MANJEERA',
 'MANJERA',
 'MANER',
 'WAINGANGA',
 'SABARI',
 'DARNA',
 'PENGANGA',
 'TUNGHABHADRA',
 'CONFLUENCE',
 'MUNERU',
 'MAYEM',
 'RUMDER',
 'RAIA',
 'BINDUSAROVAR',
 'HAMISAR',
 'RANJITNAGAR',
 'MAHI',
 'VHERAIMATA',
 'DHUDHIA',
 'LOWER',
 'MULTAI',
 'KHANDARI',
 'PERIAT',
 'KERWA',
 'JANUNIA',
 'HANUMANTAL',
 'MOTI',
 'RANI',
 'NEHRU',
 'HITKASA',
 'UDAISAGAR',
 'FATEH',
 'NAKKI',
 'JAISAMAND',
 'GAPE-',
 'JALMAHAL']

In [ ]:
state_groups = data.groupBy(lambda x:x[2])
state_groups.collect()

[('1', <pyspark.resultiterable.ResultIterable at 0x7f4e5efefb90>),
 ('8', <pyspark.resultiterable.ResultIterable at 0x7f4e5efef890>),
 ('9', <pyspark.resultiterable.ResultIterable at 0x7f4e5efef690>),
 ('0', <pyspark.resultiterable.ResultIterable at 0x7f4e5efefe50>),
 ('4', <pyspark.resultiterable.ResultIterable at 0x7f4e5eff2d90>),
 ('7', <pyspark.resultiterable.ResultIterable at 0x7f4e5efefc50>),
 ('6', <pyspark.resultiterable.ResultIterable at 0x7f4e5efef950>),
 ('5', <pyspark.resultiterable.ResultIterable at 0x7f4e5eff2150>),
 (',', <pyspark.resultiterable.ResultIterable at 0x7f4e5efefa50>),
 ('2', <pyspark.resultiterable.ResultIterable at 0x7f4e5e85be90>),
 ('3', <pyspark.resultiterable.ResultIterable at 0x7f4e5e85be10>)]

In [ ]:
def concate_address(x):
  data = x.split(',')
  add = data[1] +' - '+ data[2] +' - '+ data[0]
  return add

['GODAVARI AT JAYAKWADI DAM  AURNAGABAD MAHARASHTRA - MAHARASHTRA - 1312',
 'GODAVARI RIVER NEAR SOMESHWAR TEMPLE. - MAHARASHTRA - 2177',
 'GODAVARI RIVER AT SAIKHEDA. - MAHARASHTRA - 2182',
 'GODAVARI RIVER AT HANUMAN GHAT  NASHIK CITY. - MAHARASHTRA - 2179',
 'GODAVARI RIVER AT NANDUR- MADMESHWAR DAM. - MAHARASHTRA - 2183']

In [ ]:
temp = data.map(concate_address)
temp.take(5)

In [ ]:
def convert_dtype(x):
  data = x.split(',')
  temp = []

  for i in data:
    if i.isdigit():
      temp.append(int(i))
    elif i.isalnum():
      temp.append(str(i))
    # else:
    #   temp.append(float(i))


  return temp

In [ ]:
temp = data.map(convert_dtype)
temp.take(5)

[[1312, 'MAHARASHTRA', 735, 2, 3, 73],
 [2177, 'MAHARASHTRA', 6, 8, 270, 2, 72, 182],
 [2182, 'MAHARASHTRA', 355, 9, 59, 133],
 [2179, 'MAHARASHTRA', 371, 90, 283],
 [2183, 'MAHARASHTRA', 294, 45, 132]]

In [ ]:
def temperature_convertor(x):
  celsius = x.split(',')[3]
  fahrenheit = float(celsius) * 1.8 + 32
  return fahrenheit

In [ ]:
temp = data.map(temperature_convertor)
temp.take(5)

[84.56, 76.1, 78.44, 76.64, 78.25999999999999]

In [ ]:
def set_water_quality_index(x):
  data = {}
  df = x.split(',')
  data['npH']=(100 if (8.5>=float(df[5]) and float(df[5])>=7)  
                                 else(80 if  (8.6>=float(df[5]) and float(df[5])>=8.5) or (6.9>=float(df[5]) and float(df[5])>=6.8) 
                                      else(60 if (8.8>=float(df[5]) and float(df[5])>=8.6) or (6.8>=float(df[5]) and float(df[5]) >=6.7) 
                                          else(40 if (9>=float(df[5]) and float(df[5])>=8.8) or (6.7>=float(df[5]) and float(df[5])>=6.5)
                                              else 0))))
  data['ndo']=(100 if (float(df[4])>=6)  
                                 else(80 if  (6>=float(df[4]) and float(df[4])>=5.1) 
                                      else(60 if (5>=float(df[4]) and float(df[4])>=4.1)
                                          else(40 if (4>=float(df[4]) and float(df[4])>=3) 
                                              else 0))))
  data['nco']=(100 if (5>=float(df[9]) and float(df[9])>=0)  
                                 else(80 if  (50>=float(df[9]) and float(df[9])>=5) 
                                      else(60 if (500>=float(df[9]) and float(df[9])>=50)
                                          else(40 if (10000>=float(df[9]) and float(df[9])>=500) 
                                              else 0))))
  data['nbdo']=(100 if (3>=float(df[7]) and float(df[7])>=0)  
                                 else(80 if  (6>=float(df[7]) and float(df[7])>=3) 
                                      else(60 if (80>=float(df[7]) and float(df[7])>=6)
                                          else(40 if (125>=float(df[7]) and float(df[7])>=80) 
                                              else 0))))
  data['nec']=(100 if (75>=float(df[6]) and float(df[6])>=0)  
                                 else(80 if  (150>=float(df[6]) and float(df[6])>=75) 
                                      else(60 if (225>=float(df[6]) and float(df[6])>=150)
                                          else(40 if (300>=float(df[6]) and float(df[6])>=225) 
                                              else 0))))
  data['nna']=(100 if (20>=float(df[8]) and float(df[8])>=0)  
                                 else(80 if  (50>=float(df[8]) and float(df[8])>=20) 
                                      else(60 if (100>=float(df[8]) and float(df[8])>=50)
                                          else(40 if (200>=float(df[8]) and float(df[8])>=100) 
                                              else 0))))
  
  return data

In [ ]:
wqi = data.map(set_water_quality_index)
wqi.take(10)

[{'nbdo': 80, 'nco': 100, 'ndo': 100, 'nec': 0, 'nna': 100, 'npH': 100},
 {'nbdo': 80, 'nco': 60, 'ndo': 100, 'nec': 40, 'nna': 100, 'npH': 100},
 {'nbdo': 80, 'nco': 60, 'ndo': 80, 'nec': 0, 'nna': 100, 'npH': 100},
 {'nbdo': 80, 'nco': 60, 'ndo': 80, 'nec': 0, 'nna': 100, 'npH': 100},
 {'nbdo': 80, 'nco': 80, 'ndo': 80, 'nec': 40, 'nna': 100, 'npH': 100},
 {'nbdo': 60, 'nco': 60, 'ndo': 60, 'nec': 0, 'nna': 100, 'npH': 100},
 {'nbdo': 60, 'nco': 60, 'ndo': 80, 'nec': 0, 'nna': 100, 'npH': 100},
 {'nbdo': 80, 'nco': 60, 'ndo': 80, 'nec': 0, 'nna': 100, 'npH': 100},
 {'nbdo': 80, 'nco': 60, 'ndo': 80, 'nec': 0, 'nna': 100, 'npH': 100},
 {'nbdo': 100, 'nco': 80, 'ndo': 100, 'nec': 60, 'nna': 100, 'npH': 100}]

In [ ]:
def calculate_water_quality_index(x):
  df = {}
  df['wph']=x['npH'] * 0.165
  df['wdo']=x['ndo'] * 0.281
  df['wbdo']=x['nbdo'] * 0.234
  df['wec']=x['nec']* 0.009
  df['wna']=x['nna'] * 0.028
  df['wco']=x['nco'] * 0.281
  df['wqi']=df['wph']+df['wdo']+df['wbdo']+df['wec']+df['wna']+df['wco']
  return df

In [ ]:
final_wqi = wqi.map(calculate_water_quality_index)
final_wqi.take(10)

[{'wbdo': 18.720000000000002,
  'wco': 28.1,
  'wdo': 28.1,
  'wec': 0.0,
  'wna': 2.8000000000000003,
  'wph': 16.5,
  'wqi': 94.22},
 {'wbdo': 18.720000000000002,
  'wco': 16.860000000000003,
  'wdo': 28.1,
  'wec': 0.36,
  'wna': 2.8000000000000003,
  'wph': 16.5,
  'wqi': 83.34},
 {'wbdo': 18.720000000000002,
  'wco': 16.860000000000003,
  'wdo': 22.480000000000004,
  'wec': 0.0,
  'wna': 2.8000000000000003,
  'wph': 16.5,
  'wqi': 77.36},
 {'wbdo': 18.720000000000002,
  'wco': 16.860000000000003,
  'wdo': 22.480000000000004,
  'wec': 0.0,
  'wna': 2.8000000000000003,
  'wph': 16.5,
  'wqi': 77.36},
 {'wbdo': 18.720000000000002,
  'wco': 22.480000000000004,
  'wdo': 22.480000000000004,
  'wec': 0.36,
  'wna': 2.8000000000000003,
  'wph': 16.5,
  'wqi': 83.34},
 {'wbdo': 14.040000000000001,
  'wco': 16.860000000000003,
  'wdo': 16.860000000000003,
  'wec': 0.0,
  'wna': 2.8000000000000003,
  'wph': 16.5,
  'wqi': 67.06},
 {'wbdo': 14.040000000000001,
  'wco': 16.860000000000003,
  'wdo': 22.480000000000004,
  'wec': 0.0,
  'wna': 2.8000000000000003,
  'wph': 16.5,
  'wqi': 72.68},
 {'wbdo': 18.720000000000002,
  'wco': 16.860000000000003,
  'wdo': 22.480000000000004,
  'wec': 0.0,
  'wna': 2.8000000000000003,
  'wph': 16.5,
  'wqi': 77.36},
 {'wbdo': 18.720000000000002,
  'wco': 16.860000000000003,
  'wdo': 22.480000000000004,
  'wec': 0.0,
  'wna': 2.8000000000000003,
  'wph': 16.5,
  'wqi': 77.36},
 {'wbdo': 23.400000000000002,
  'wco': 22.480000000000004,
  'wdo': 28.1,
  'wec': 0.5399999999999999,
  'wna': 2.8000000000000003,
  'wph': 16.5,
  'wqi': 93.82000000000001}]

In [ ]:
def classify_wqi(x):
  df = {}
  df['quality']=('Excellent' if (25>=x['wqi'] and x['wqi']>=0)  
                                 else('Good' if  (50>=x['wqi'] and x['wqi']>=26) 
                                      else('Poor' if (75>=x['wqi'] and x['wqi']>=51)
                                          else('Very Poor' if (100>=x['wqi'] and x['wqi']>=76) 
                                              else 'Unsuitable'))))
  return df

In [ ]:
c_wqi = final_wqi.map(classify_wqi)
c_wqi.take(10)

[{'quality': 'Very Poor'},
 {'quality': 'Very Poor'},
 {'quality': 'Very Poor'},
 {'quality': 'Very Poor'},
 {'quality': 'Very Poor'},
 {'quality': 'Poor'},
 {'quality': 'Poor'},
 {'quality': 'Very Poor'},
 {'quality': 'Very Poor'},
 {'quality': 'Very Poor'}]